html {
  box-sizing: border-box;
  font-size: 24px;
  font-family: monospace;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

html,
body {
  height: 100%;
}

body {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

main {
  display: grid;
  grid-template-columns: auto auto;
  grid-gap: 1rem 0.5rem;
  align-items: center;
}

input[type="checkbox"] {
  height: 1rem;
  width: 1rem;
}
