<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>What A Mole</title>
  <link rel="stylesheet" href="style.css" />
</head>

<body>
  <div id="app">
    <header>
      <h1>Whack A Mole</h1>
      <p v-if="gameInProgess === true">Time left: {{ time }} seconds</p>
    </header>
    <main ref="grid">
      <button v-if="gameInProgess === true" class="mole" @click="whack()"
        :style="{ gridColumnStart: column, gridRowStart: row}"></button>
      <div class="menu" v-if="gameInProgess === false">
        <button class="new-game" @click="newGame()">Start Game</button>
        <p class="game-stats" v-if="showAfterGameStats">
          Your Score is {{ score }}
        </p>
      </div>
    </main>
  </div>
  <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
  <script src="script.js"></script>
</body>

</html>